@model PDriveUI.Models.Image
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="text-center">
        <form method="post" enctype="multipart/form-data" asp-controller="Image" asp-action="Create">
        
        <div class="form-group">
            <div class="col-md-10"></div>

        </div>
        </form>
    </div>
</body>
</html>
